body {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    background-color: #5D576B;
}

.header {
    display: flex;
    height: 100vh;
    padding: 12px;
}

ul,
li {
    display: flex column;
    list-style: none;
    font-size: 34px;
}

li {
    margin-top: 45px;
}

a:link {
    color:#BED0D3;
    text-decoration: none;
}

a:hover {
    color: olive;
}

a:visited {
    color:#BED0D3;
}

.body {
    display: flex column;
    flex: 1;
}


.me {
    font-size: 300px;
    text-align: right;
    max-height: 5px;
    color: olive;
}

.content {
    max-width: 330px;
    max-height: 255px;
    overflow-y: auto;
    color: #BFACC8;
    margin-left: 75px;
    margin-top: 130px;
    font-size: 20px;
}